body {
    font-family: "Varela Round", sans-serif;
}
nav {
    line-height: 60px;
}
nav a {
    font-weight: bold;
    font-size: 16px;
    color: #59514A;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 12px;
}
nav a:hover {
    text-decoration: underline !important;
    color: #8E3A4E !important;
}
.navbar-default {
    background-color: #ffffff;
}
header {
    background-image: url("images/springFIN.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 600px;
    width: 100%;
    position: relative;
}
header .overlay {
    bottom: 10%;
    position: absolute;
    padding-left: 50px;
    width: 100%;
}
h1 {
    font-size: 50px;
    color: #ffffff;
}
@media (max-width: 700px) {
    h1 {
        font-size: 32px;  
        color: #A79E38;
    }
}
header p {
    font-size: 22px;
    color: #9C9386;
}
@media (max-width: 700px) {
    header p {
        font-size: 16px;
    }
}
h2 {
    font-size: 25px;
    font-weight: bold;
    color: #8E3A4E;
    padding-top: 20px;
    padding-bottom: 20px;
}
.about {
    padding-top: 30px;
}
.about p {
    padding-bottom: 15px;
    font-size: 15px;
    color: #59514A;
}
h3 {
    font-size: 17px;
    font-weight: bold;
    color: #8E3A4E;
    padding-bottom: 10px;
}
.about i {
    color: #8a8580; 
    padding-bottom: 5px;
}
@media (max-width: 400px) {
    .col-xxs-12 {
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
.about span {
    font-size: 15px;
    color: #59514A;
}
.indent {
    padding-left: 15px;
}
.progress-bar-primary {
    background-color: #8E3A4E;
}
h4 {
    font-size: 17px;
    color: #59514A;
    font-weight: bold;
}
.portfolio {
    padding-top: 30px;
    background: #EAEAEA;
}
.portfolio p {
    font-size: 15px;
    color: #59514A;
}
.portfolio img {
    border: 1px solid #8a8580;
}
.btn-default {
    color: #59514A;
}
.btn-default:hover {
    background-color: #8E3A4E;
    color: #ffffff;
}
.btn-default i {
    vertical-align: middle;
    padding-right: 5px;
}
.thumbnail {
    border: none;
    background: #EAEAEA;
}
.contact {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #8E3A4E;
    min-height: 475px;
}
.contact h2 {
    color: #ffffff;
}
#map {
    width: 400px;
    height: 300px;
    background-color: #CCC;
}
@media (max-width: 450px) {
    #map {
        width: 300px;
    }
}
.contact .description {
    font-size: 15px;
    color: #ffffff;
    padding-top: 30px;
}
.contact i {
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 30px;
}
.contact span {
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    padding-top: 30px;
}
.contact span a {
    color: #ffffff;
}