.containerLarge {
    max-width: 1170px;
    margin: 0 auto;
}
nav {
    background-color: #ffffff;
    height: 60px;
    line-height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
nav a {
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #59514A;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 12px;
}
nav a:hover {
    text-decoration: underline;
    color: #8E3A4E;
}
.right {
    float: right;
    margin-right: 20px;
}
header {
    height: 600px;
    background-image: url("Images/spring.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}
h1 {
    padding-top: 400px;
    padding-bottom: 10px;
    padding-left: 50px;
    font-family: "Varela Round", sans-serif;
    font-size: 50px;
    color: #ffffff;
}
header p {
    padding-left: 80px;
    padding-bottom: 50px;
    font-family: "Varela Round", sans-serif;
    font-size: 22px;
    color: #9C9386;
}
.about p {
    padding-bottom: 15px;
    font-family: "Varela Round", sans-serif;
    font-size: 15px;
    color: #59514A;
    text-align: justify;
}
.about span {
    font-family: "Varela Round", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #59514A; 
}
.about li {
    font-family: "Varela Round", sans-serif;
    font-size: 15px;
    color: #59514A; 
}
h2 {
    font-family: "Varela Round", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #8E3A4E;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
h3 {
    font-family: "Varela Round", sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #8E3A4E;
}
h4 {
    font-family: "Varela Round", sans-serif;
    font-size: 17px;
    color: #59514A;
    font-weight: bold;
    text-align: center;
}
.portfolio {
    margin-top: 20px;
}
.portfolio p {
    font-family: "Varela Round", sans-serif;
    color: #59514A;
    text-align: center;
}
.portfolio img {
    border: 1px solid #59514A;
}
.btn-default {
    color: #59514A;
/*    border: none;*/
}
.btn-default img {
    float: left;
    padding-right: 3px;
}
.thumbnail {
    border: none;
}